----- WordPress & DB Credentials for {{ domain }} -----
Generated at: {{ ansible_date_time.iso8601 }}

MySQL root password:
{{ mysql_root_pass }}

WordPress DB:
  DB name: {{ wp_db_name }}
  DB user: {{ wp_db_user }}
  DB password: {{ wp_db_pass }}

WordPress admin account:
  Username: {{ wp_admin_user }}
  Password: {{ wp_admin_pass }}
  Admin email: {{ admin_email }}

phpMyAdmin:
  URL: https://{{ domain }}/phpmyadmin
  Use the 'WordPress DB' credentials above to login.
  Note: You cannot login as 'root' via PMA by default.

Notes:
 - Webroot: /var/www/{{ domain }}
 - WP weekly update cron: /etc/cron.weekly/wp-updates
 - Certbot (apt) used to request TLS
