---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install basic packages
  apt:
    name:
      - software-properties-common
      - ca-certificates
      - lsb-release
      - apt-transport-https
      - curl
      - gnupg2
      - wget
      - htop
      - rsync
      - zip
      - unzip
      - python3
      - git
      - acl # Required for Ansible become with unprivileged users
      - python3-pip
      - python3-pymysql # Required for mysql_db module
    state: present
